h2{
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

h5{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: #102a67;
}

p{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #333333;
}

img{
    padding: 20px;
}

article{
    padding-bottom: 70px;
    margin-right: px;
}

.blog-articles{
    margin-left: -11%;
    margin-right: -20%;
}

.pl-2, .px-2 {
    padding-left: 2.0rem!important;
    margin-top: 20px;
}

.btn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border-radius: 12px;
    padding-left: 2.0rem!important;
}

a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #255adc;
}
